html,
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5rem;
}

* {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: none;
}

li {
  padding-left: 0.2rem;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

#root {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background: #1abc9c;
  overflow: hidden;
}
